# Bot Service
PORT=3000
HOST=0.0.0.0

GROQ_API_KEY=
WA_VERIFY_TOKEN=
WA_PHONE_NUMBER_ID=
WA_CLOUD_API_ACCESS_TOKEN=

# Operational Configuration
BOT_ENABLE_SCHEDULE=true
BOT_OPERATIONAL_START=08:00
BOT_OPERATIONAL_END=21:00
BOT_OPERATIONAL_DAYS=1,2,3,4,7

# Backend API Integration
BACKEND_API_URL=
BOT_SECRET=
